{{- $front_page_img := index .Site.Params "front_page_img" | default "avatar.jpg" -}}
{{- $recent_title := index .Site.Params "recent_items_title" | default "Items" -}}
{{- $recent_count  := index .Site.Params "recent_count"  | default 3 -}}
{{- $recent_item_sections := index .Site.Params "recent_item_sections" | default (slice "news" "post" "podcast" "review") }}
{{- if le $recent_count 0 -}}
  {{- $.Scratch.Set "recent_count 0" -}}
{{- else -}}
  {{- $.Scratch.Set "recent_items" (where (where $.Site.Pages.ByDate "Section" "in" $recent_item_sections) "Kind" "page").Reverse -}}
  {{ "<!-- " | safeHTML }}{{ $.Scratch.Get "recent_items" | safeHTML }}{{ "-->" | safeHTML }}
  {{- if gt (len ($.Scratch.Get "recent_items")) 0 -}}
    {{- $.Scratch.Set "recent_items" (first $recent_count ($.Scratch.Get "recent_items")) -}}
    {{- $.Scratch.Set "recent_current_count" (len ($.Scratch.Get "recent_items")) -}}
  {{- else -}}
    {{- $.Scratch.Set "recent_items" nil -}}
    {{- $.Scratch.Set "recent_current_count" 0 -}}
  {{- end -}}
{{- end -}}
{{- $recent_current_count := ($.Scratch.Get "recent_current_count") -}}
<h3>Recent {{ $recent_title }}</h3>
<ul class="compact fa-ul">
{{- if gt $recent_current_count 0 -}}
  {{ range first $recent_count (sort (sort ($.Scratch.Get "recent_items") "Date" "desc") "Weight") }}
    <li><i class="fa-li fa {{ if in (slice "news" "review") .Type }}fa-newspaper-o{{ else }}{{ if in (slice "podcast" "webinar") .Type }}fa-podcast{{ else }}fa-pencil-square-o{{ end }}{{ end }}"></i>
    <article itemscope itemtype="http://schema.org/{{ if eq .Type "news" }}NewsArticle{{ else }}BlogPosting{{ end }}" >
    <span itemprop="name headline">{{ .Title }}</span>
      {{- if in (slice "news" "review") .Type}}{{ partial "news-capsule" . }}{{ else }}{{ if in (slice "podcast") .Type}}{{ partial "podcast-capsule" . }}{{ else }}{{ partial "post-capsule" . }}{{ end }}{{ end -}}
    </article>
    </li>
  {{ end -}}
{{- end }}
</ul>
{{ "<!--" | safeHTML }}
Diagnostics:
recent_count = {{ $recent_count | safeHTML }}
recent_current_count = {{ $recent_current_count | safeHTML }}
recent_items = {{ $.Scratch.Get "recent_items" | safeHTML }}
recent_item_sections = {{ range $recent_item_sections }}{{ . | safeHTML }}, {{ end }}
{{ "-->" | safeHTML }}
