<div class="row">
  <div class="column small-12">
    {{- if gt .Paginator.TotalPages 1 -}}
      <ul class="pagination" role="navigation" aria-label="Pagination">
        {{ if .Paginator.HasPrev }}
        <li class="arrow" aria-disabled="true"><a href="{{ .Paginator.Prev.URL }}">&laquo; <em>Prev<span class="show-for-sr"> blog entries</span></em></a></li>
        {{ end }}
        <li><span>Page {{.Paginator.PageNumber}} of {{.Paginator.TotalPages}}</span></li>
        {{ if .Paginator.HasNext }}
        <li class="arrow" aria-disabled="true"><a href="{{ .Paginator.Next.URL }}"><em>Next<span class="show-for-sr"> blog entries</span></em>:&nbsp;&raquo;</a></li>
        {{ end }}
      </ul>
    {{ end -}}
    {{ partial "taxonomies" . }}
  </div>
</div>
